@import "./calculator/walls_drawing";
@import "./calculator/kitchen_units";
@import "./calculator/walls_input";
@import "./calculator/wall";
@import "./calculator/summery";


.calculator-section {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .calculator-info {
    @include flex-center;
    flex-direction: column;
    max-width: 1200px;
    padding: 25px;
  }
  h2 {
    font-weight: 600;
    font-size: 1.5rem
  }
  // p {
  //   padding: 15px;
  // }
  .instruction-list {
    list-style: inside decimal;
    text-align: center;
    font-weight: 600;
    .instruction-elem {
      padding: 10px;
    }
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .project-form {
    .walls-option {
      margin: 2% 0;
      text-align: center;
      border: 2px solid $graphite;
      padding: 25px;
      border-radius: $primary-radius;
      label {
        // padding: 25px;
        font-weight: 600;
        font-size: 1.2rem;
        // width: 100%;
        // display: block;
        // background-color: $main-gray;
      }
      div {
        padding: 10px;
        input~input {
          margin-left: 15px;
        }
      }
    }
    border-top: 1px solid $main-gray;
    width: 100%;
    height: 100%;
  }
}

.options {
  display: flex;
}

.project-summery {
  height: 100px;
  width: 90%;
}



.wall-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: $main-gray;
  }
  .cm-input {
    width: 100px;
    margin: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
  }
  li {
    margin: 5px;
    border: 1px solid black;
    max-width: 200px;
    input {
      max-width: 100px;
    }
  }
}

// Contact form

.contact-form {
  .validation {
    p {
      margin: 5px 0;
      // min-width: 50vw;
      padding: 10px;
      color: white;
      background-color: $main-red;
      border-radius: 25px;
    }
  }
  .submit {
    width: 100%;
    @include flex-center;
  }
}
