.contact-section {
  // background-color: red;
  // height: 100vh;
  @include flex-center;
  flex-direction: column;
  margin: 60px 20px;
  .container {
    // width: 1200px;
    border: 1 solid $main-gray;
    font-size: 1.25rem;
    line-height:2rem;
    .contact-details {
      font-weight: 600;
    }
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 300px;
  }
}