.options {
  display: flex;
}

.project-summery {
  height: 100px;
  width: 90%;
}

.wall-container {
  .options {
    .option {
      border: 1px solid black;
    }
    img {
      height: 100px;
    }
  }
  ul {
    width: 400px;
  }
  li {
    margin: 5px;
    border: 1px solid black;
  }
  .lowerUnits {
    background-color: rgba(173, 216, 230, 0.575);
  }
  .upperUnits {
    background-color: rgba(240, 128, 128, 0.507);
  }
  .wall {
    margin-left: 20px;
    position: relative;
    .upperUnitsDrawing {
      display: flex;
      .upperUnits {
        background-color:rgba(255, 0, 0, 0.2);
      }
    }
    .lowerUnitsDrawing {
      position: absolute;
      bottom: 0;
      display: flex;
      .lowerUnits {
        background-color: rgba(0, 0, 255, 0.2),
      }
    }
  }
}