$main-red: rgb(175, 5, 5);
$main-red-trans: rgba(175, 5, 5, 0.747);
$secondary-red:rgb(248, 13, 13);
$main-gray: #B9B2B0;
$main-gray-trans: #b9b2b0c9;
$light-gray: rgba(185, 177, 177, 0.2);
$graphite: #45484e;
$main-black: #040404;
$main-black-trans: #040404e0;

$primary-radius: 25px;