.wall-container {
  margin: 25px 0;
  border: 2px solid $light-gray;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  .summery {
    margin: 10px;
    border: 2px solid $main-gray;
    width: 95%;
    max-width: 1200px;
    @include flex-center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    label {
      background-color:$main-gray;
      padding: 10px;
      text-align: center;
      width: 100%;
    }
    .radio-form {
      margin: 10px 0;
      font-size: 1rem;
      font-weight: 600;
    }
    p {
      font-weight: 600;
      font-size: 1.2rem;
      color: $main-red;
    }
    .confirm {
      background-color:$secondary-red;
      &:active {
        background-color:$main-red;
        font-weight: 600;
      }
    }
  }
}

